---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "About me";
const description = "Learn more about the coder behind the keyboard.";
---

<BaseLayout {title} {description}>
  <section class="mb-28 px-5">
    <div class="max-w-2xl">
      <span class="font-medium uppercase text-sm">A few things about me</span>
      <h1 class="heading-hero">
        My Path in Web Development
      </h1>
      <h2 class="font-semibold text-xl md:text-3xl mb-4">
        Years of Pixels & Code
      </h2>
      <p class="text-base leading-relaxed mb-6">I'm from Montevideo, Uruguay</p>
      <p class="text-base leading-relaxed mb-6">
        I started my journey in web development back in 2008 with MySpace, 
        creating layouts and building my own website. At the time, I had 
        zero visitors because I had no marketing skills and was still 
        learning the ropes of design.
      </p>
      <p class="text-base leading-relaxed mb-6">
        In 2010, I created a network of Flash game websites that 
        received millions of visits, using PHP, MySQL and HTML5. However,
          everything changed in 2012 when Google altered its algorithms, 
          leading me to transition to WordPress for theme development 
          and freelance web design.
      </p>
      <p class="text-base leading-relaxed mb-6">
        As I continued to grow, I learned React and Webflow and began working 
        freelance, while also dabbling in a bit of UI design.
      </p>

      <h2 class="font-semibold text-xl md:text-3xl mt-10 mb-4">
        What I'm Building Now
      </h2>
      <p class="text-base leading-relaxed mb-6">
        Right now, I'm working as a freelance Webflow developer, 
        helping clients bring clean, modern designs to life on the web.
      </p>
      <p class="text-base leading-relaxed mb-6">
        At the same time, I'm diving into Framer and Astro.js
      </p>
      <p class="text-base leading-relaxed mb-6">
        The goal? Launch a couple of premium template stores where I can 
        combine good UI, smooth interactions, and fast performance.
      </p>
    </div>
  </section>
</BaseLayout>
