---
import Logo from "../ui/Logo.astro"
---

<header class="navbar bg-base-200 mt-3" transition:persist>
  <div class="navbar-start">
    <div class="dropdown">
      <div aria-label="Open menu" tabindex="0" role="button" class="btn btn-ghost">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li><a href="/about" aria-label="About me">About</a></li>
        <li><a href="/process" aria-label="Process">Process</a></li>
        <li><a href="/services" aria-label="Services">Services</a></li>
      </ul>
    </div>
    <a href="/" class="btn btn-ghost rounded-lg">
      <Logo />
    </a>
  </div>
  <div class="navbar-end">
    <a href="mailto:leandroubilla@protonmail.com" class="btn btn-neutral btn-sm rounded-md">Get in touch</a>
  </div>
</header>