---
import Layout from '../layouts/Layout.astro';

const title = "About me";
const description = "Learn more about the developer behind the keyboard.";
---

<Layout {title} {description}>
  <section class="mt-8 md:mt-12">
    <div class="max-w-2xl">

      <span class="font-medium text-sm uppercase">
        About
      </span>
      
      <h1 class="heading-hero mt-2.5 mb-10 text-3xl md:text-4xl font-medium text-balance"> 
        What Led Me Here
      </h1>

      <p class="text-base leading-relaxed mb-6 text-base-content/70">
        I'm from Montevideo, Uruguay.
      </p>

      <p class="text-base leading-relaxed mb-6 text-base-content/70">
        I started in web development in 2008, building MySpace layouts. By 2010, I built and maintained a network of Flash game websites that attracted significant traffic, using PHP, MySQL, and HTML.
      </p>

      <p class="text-base leading-relaxed mb-6 text-base-content/70">
        In 2012, I transitioned to WordPress and freelancing after Google's algorithm changes, refining my skills and gaining real-world experience.
      </p>

      <p class="text-base leading-relaxed mb-6 text-base-content/70">
        Over time, I expanded into React, Framer, Webflow, and UI design, steadily building a strong foundation in both development and product design.
      </p>

    </div>
  </section>
</Layout>
