<footer class="w-full max-w-screen-2xl px-5 mx-auto pb-4">
  <div class="flex lg:flex-row flex-col md:justify-between">
    <p class="font-semibold">
      Leandro Ubilla.
    </p>
    <div class="flex space-x-6 font-semibold">
      <a href="https://fiverr.com/leanug" title="Fiverr" target="_blank" rel="noopener noreferrer" class="button flex items-center space-x-2 py-1">
        Fiverr
      </a>
      <a href="https://x.com/leandroubilla_" title="Twitter" target="_blank" rel="noopener noreferrer" class="button flex items-center space-x-2 py-1">
        X / Twitter
      </a>
      <a href="https://youtube.com/scriptingpixels" title="YouTube" target="_blank" rel="noopener noreferrer" class="button flex items-center space-x-2 py-1">
        Youtube
      </a>
      <a href="https://github.com/leanug" title="GitHub" target="_blank" rel="noopener noreferrer" class="button flex items-center space-x-2 py-1">
        Github
      </a>
    </div>
  </div>
</footer>
