<footer class="w-full mx-auto mt-8 pb-4 text-sm">
  <div class="flex lg:flex-row gap-8 flex-col md:justify-between">
    <div class="flex flex-col md:flex-row gap-2.5  md:gap-6 md:items-center">
      <p class="font-medium">
        Leandro Ubilla.
      </p>
      <div class="flex gap-2 items-center">
        <div class="w-5 h-5">
          <img src="/media/logos/astro-icon-light-gradient.svg" alt="A bird.">        </div>
        <span>Built with <a href="https://astro.build/" rel="noopener noreferrer" title="Astro.js" target="_blank" class="underline hover:no-underline">Astro.js</a></span>
      </div>
    </div>
    <div class="flex flex-col md:flex-row space-x-6 font-medium">
      <a href="https://instagram.com/ldro_dev" title="Twitter" target="_blank" rel="noopener noreferrer" class="button flex items-center space-x-2 py-1">
        Instagram
      </a>
      <a href="https://x.com/leandroubilla_" title="Twitter" target="_blank" rel="noopener noreferrer" class="button flex items-center space-x-2 py-1">
        X
      </a>
      <a href="https://youtube.com/@scriptingpixels" title="YouTube" target="_blank" rel="noopener noreferrer" class="button flex items-center space-x-2 py-1">
        Youtube
      </a>
      <a href="https://github.com/leanug" title="GitHub" target="_blank" rel="noopener noreferrer" class="button flex items-center space-x-2 py-1">
        Github
      </a>
      <a href="https://dribbble.com/leanug" title="Dribbble" target="_blank" rel="noopener noreferrer" class="button flex items-center space-x-2 py-1">
        Dribbble
      </a>
    </div>
  </div>
</footer>
