---
import { Image } from 'astro:assets';
---

<Image
  src="/profile.webp" 
  alt="Leandro Ubilla's logo" 
  class="w-10 h-10 rounded-full bg-gray-200" 
  width="56" 
  height="56"
  decoding="async"
  loading="lazy"
/>
<div class="text-sm flex flex-col">
  <span class="font-medium h-4">Leandro Ubilla</span>
  <span class="h-4 text-gray-500">Web Developer</span>
</div>
