---
import { Image } from 'astro:assets';
---

<Image
  src="/yo-celeste.webp" 
  alt="Leandro Ubilla's logo" 
  class="w-12 h-12 rounded-lg bg-gray-200" 
  width="48" 
  height="48"
  decoding="async"
  loading="lazy"
/>
<div class="text-sm flex flex-col">
  <span class="font-semibold h-4">Leandro Ubilla</span>
  <span class="h-4">Web Developer</span>
</div>
