<img 
  src="/leandro-transparent.png" 
  alt="Leandro Ubilla's logo" 
  class="w-12 h-12 rounded-full bg-gray-200" 
  role="img" 
  aria-label="Leandro Ubilla's logo"
>
<div class="text-sm flex flex-col">
  <span class="font-semibold h-4">Leandro Ubilla</span>
  <span class="h-4">Web Developer</span>
</div>
