---
import { Image } from 'astro:assets';
---

<Image
  src="/media/images/leandro.webp" 
  alt="Leandro Ubilla's logo" 
  class="w-10 h-10 rounded-md bg-gray-200" 
  width="56" 
  height="56"
  decoding="async"
  loading="lazy"
/>
<div class="text-sm flex flex-col">
  <span class="font-medium h-5">Leandro Ubilla</span>
</div>
