---
import { getCollection, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

import type { Work } from "../../types";

export async function getStaticPaths() {
  const work = await getCollection("work");
  return work.map((item: Work) => ({
    params: { id: item.data.slug },
    props: item
  }));
}

const { data } = Astro.props;
const { title, img, slug } = data;

const { Content } = await render({
  id: slug,
  collection: "work",
  data
});

export const prerender = true;
---

<BaseLayout title={`${title} - Portfolio`}>
  <div class="flex gap-12">
    <aside class="flex flex-col items-center gap-4">
      <a href="/">Go back</a>
      <!-- Work Image -->
      <img
        transition:name={`img-${slug}`}
        src={img} 
        alt={title} 
        class="w-full md:w-1/3 object-cover rounded-lg"
      />
    </aside>
  </div>
</BaseLayout>