---
import { Image } from 'astro:assets';
---

<div class="text-md gap-3 flex items-center">
  <Image
    src="/media/images/leandro.webp" 
    alt="Leandro Ubilla's logo" 
    class="w-8 h-8 rounded-md" 
    width="56" 
    height="56"
    decoding="async"
    loading="lazy"
  />
  <span class="font-medium text-md">Leandro Ubilla</span>
</div>
